/* Write your code here. */
.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item {
  box-shadow: 0 -2px 10px rgba(128, 128, 128, 0.575);
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 30px;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.que-txt {
  font-size: 25px;
}
